<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBffpXJqW8AtRcHgBM_oahgQc2AkKVT3BE</string>
	<key>GCM_SENDER_ID</key>
	<string>981520421087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chan.TicketLion-Consumer</string>
	<key>PROJECT_ID</key>
	<string>ticketlion-5f826</string>
	<key>STORAGE_BUCKET</key>
	<string>ticketlion-5f826.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981520421087:ios:7d85889451650dc889996a</string>
</dict>
</plist>